
<div class="searchArtist">
    <div id="searchForm">
    <form  action="/artist-search", method="GET">
        <label> 
          <input type="text" name="name" />
         </label>
        <br>
    <button type="submit"> Search an Artist </button>
  </form>
  </div>
</div>